@page
@model ServiceHost.Pages.WemenProductCategoryModel
@{
    ViewData["Title"] = "گروه محصولات زنانه";
}

<div class="breadcrumb-area breadcrumb-bg-2 pt-50 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="breadcrumb-title">فروشگاه</h1>
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-list__item"><a asp-page="./Index">خانه</a></li>
                    <li class="breadcrumb-list__item breadcrumb-list__item--active">گروه محصولات زنانه</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="shop-page-header">
    <div class="container wide">
        <div class="row align-items-center">
            <div class="col-12 col-lg-7 col-md-10 d-none d-md-block">
                <div class="filter-title filter-title--type-two">
                    <ul class="product-filter-menu">
                        <li class="active" data-filter="*">همه</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-5 col-md-2">
                <div class="filter-icons">
                    <div class="single-icon grid-icons">
                        <a data-target="five-column" class="active" href="javascript:void(0)">
                            <i class="ti-layout-grid4-alt"></i>
                        </a>
                        <a data-target="four-column" href="javascript:void(0)"><i class="ti-layout-grid3-alt"></i></a>
                        <a data-target="three-column" href="javascript:void(0)"><i class="ti-layout-grid2-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop-page-content mt-100 mb-100">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2 mb-md-80 mb-sm-80">
                <div class="row product-isotope shop-product-wrap five-column">
                    @foreach (var productCategory in Model.WemenProductCategoryQuery)
                    {
                        <div class="col-12 col-lg-is-5 col-md-6 col-sm-6 mb-45 sale">
                            <div class="single-product">
                                <div class="single-product__image">
                                    @if (productCategory.Name == "مانتو زنانه")
                                    {
                                        <a class="image-wrap" asp-page="WemenProductsManto">
                                            <img src="~/Theme/assets/img/products/@productCategory.Picture" class="img-fluid" alt="@productCategory.PictureAlt"
                                                 title="@productCategory.PictureTitle" style="height: 350px">
                                        </a>
                                    }
                                    @if (productCategory.Name == "بلوز زنانه")
                                    {
                                        <a class="image-wrap" asp-page="WemenProductsShirt">
                                            <img src="~/Theme/assets/img/products/@productCategory.Picture" class="img-fluid" alt="@productCategory.PictureAlt"
                                                 title="@productCategory.PictureTitle" style="height: 350px">
                                        </a>
                                    }
                                    @if (productCategory.Name == "تیشرت زنانه")
                                    {
                                        <a class="image-wrap" asp-page="WemenProductsTshirt">
                                            <img src="~/Theme/assets/img/products/@productCategory.Picture" class="img-fluid" alt="@productCategory.PictureAlt"
                                                 title="@productCategory.PictureTitle" style="height: 350px">
                                        </a>
                                    }
                                    @if (productCategory.PictureAlt == "شلوار زنانه")
                                    {
                                        <a class="image-wrap" asp-page="WemenProductsTrouser">
                                            <img src="~/Theme/assets/img/products/@productCategory.Picture" class="img-fluid" alt="@productCategory.PictureAlt"
                                                 title="@productCategory.PictureTitle" style="height: 350px">
                                        </a>
                                    }
                                    @if (productCategory.PictureAlt == "لباس زیر زنانه")
                                    {
                                        <a class="image-wrap" asp-page="WemenProductsUnderwear">
                                            <img src="~/Theme/assets/img/products/@productCategory.Picture" class="img-fluid" alt="@productCategory.PictureAlt"
                                                 title="@productCategory.PictureTitle" style="height: 350px">
                                        </a>
                                    }
                                </div>
                                <div class="single-product__content">
                                    <div class="text-center">
                                        <h3>
                                            <a href="#">@productCategory.Name</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>